p{
    font-family: "Segoe Script";
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
}
h4{
    font-family: "Segoe Script";
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
}
.Lolstyle{
    margin-left: 75%;
    padding-right: 45%;
    position: absolute;
}
.opy{
    padding-right: 50%;
    margin-left: 39%;
    position: absolute;
}
.axaxaxax{
    position: absolute;
    margin-right: 80%;
    margin-top: 1%;
}
.gjk{
    position: center;
    font-family: "Segoe Script";
}
h1{
    padding-left: 5%;
}
.copyright{
    margin-top: 1500px;
}
.zxcvbn{
    margin-top: 2%;
}